<h1>Listing advantages_to_products</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Advantage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advantages_to_products.each do |advantages_to_product| %>
  <tr>
    <td><%= advantages_to_product.product_id %></td>
    <td><%= advantages_to_product.advantage_id %></td>
    <td><%= link_to 'Show', advantages_to_product %></td>
    <td><%= link_to 'Edit', edit_advantages_to_product_path(advantages_to_product) %></td>
    <td><%= link_to 'Destroy', advantages_to_product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advantages to product', new_advantages_to_product_path %>
