<div class="clearfix" id="brand-lazboy">
	<section id="sidebar">
			<nav id="category-nav">
				<div class="box">
					<h3>La-z-boy kategóriák</h3>					
				</div>
			</nav>
	</section>

		<section id="promo-list">
			
			<div class="clearfix">
				<div class="box cpromo big">
					<%= image_tag "brands/lazboy/lazboy_big.png", :title => "La-z-boy logó" %>
				</div>

				<div class="box cpromo small">
					<p>1</p>
				</div>
				<div class="box cpromo small">
					<p>2</p>
				</div>
			</div>
			<div class="clearfix crow">
				<div class="box cpromo small">
					<p>1</p>
				</div>
				<div class="box cpromo small">
					<p>1</p>
				</div>
				<div class="box cpromo small">
					<p>1</p>
				</div>
				<div class="box cpromo small">
					<p>1</p>
				</div>
				<div class="box cpromo small last">
					<p>1</p>
				</div>
			</div>
		</section>
</div>

<div class="box full about-box">
				<h3>A La-z-Boyról</h3>
				<p class="full"><%= image_tag "brands/uttermost/dog.jpg", :title => "La-Z-Boy" %>Az első komfort fotelt 1928-ban készítette el a későbbi La-Z-Boy két alapítója Edward M. Knabusch és Edwin J. Shoemaker. Az azóta elmúlt évtizedek alatt a komfort fotelek számos változáson, korszerüsítésen estek át, ahogy új funkciókat, technikai megoldásokat találtak fel a cég fejlesztői. A La-Z-Boy fotelek minősége, változatossága egyedülálló, a La-Z-Boy technológiát számos szabadalom védi.</p>
				<h3>Mit kell tudni foteleinkről?</h3>
				<ul>
					<li><strong>Erős, tartós váz:</strong> A La-Z-Boy foteljeinek váza szárított keményfából és erős rétegelt lemezből készül, sem műanyag, sem laminált lemez, sem pedig forgácslap nem található bennük, ezért a fotelek váza erős és tartós.</li>
					<li><strong>4 oldalú, stabil váz:</strong> A La-Z-Boy komfort foteljei az egyetlenek, amelyeknek a váza négy oldalú, ezért nagyon stabil és tartós.</li>
					<li><strong>Külön mozgatható lábtámasz és háttámla:</strong> A legtöbb La-Z-Boy komfort fotel láb- és háttámláját egymástól függetlenül lehet mozgatni, ezért ha hátradöntjük a háttámlát még mindig tudunk hintázni a fotelben.</li>
					<li><strong>Számos komfort pozíció:</strong> A legtöbb La-Z-Boy komfort fotel lábtámaszát 3 pozícióban, a háttámláját pedig 18 pozícióban lehet rögzíteni, így mindenki megtalálja a számára legkényelmesebb pozíciót.</li>
					<li><strong>Biztonságos, stabil lábtámasz:</strong> A La-Z-Boy komfort fotelek lábtámaszát egy erős fém kar rögzíti a kívánt pozícióban, ami megakadályozza, hogy a lábtámasz a ránehezedő súlytól visszacsukódjon.</li>
					<li><strong>Stresszoldó hatás:</strong> A legtöbb La-Z-Boy komfort fotelt a lábtámasz felemelése és a háttámla hátradöntése után még jobban meg lehet dönteni. Ezáltal olyan pozícióba helyezhetjük a testet, amelyben a láb a szív fölé kerül, ez pedig nagyon jót tesz a keringési rendszernek.</li>
					<li><strong>Állítható erősség:</strong> A legtöbb La-Z-Boy komfort fotel esetében egyszerűen be lehet állítani, hogy milyen erőt kelljen kifejteni a háttámla hátradöntéséhez.</li>
					<li><strong>Kiváló minőségű mechnizmus:</strong> A La-Z-Boy komfort foteleiben használt mechanizmus szabadalom által védett. A gyártó kézzel állítja össze a szerkezetet, ezért kiváló minőségűek a termékek.</li>
					<li><strong>Hosszabb lábtámasz:</strong> A La-Z-Boynál lehetőség van arra, hogy egyes foteleknél a lábtámaszt meghosszabbítsuk, magas emberek számára is kényelmessé téve a fotelt.</li>
					<li><strong>Hátradőléskor is folyamatos deréktámasztás:</strong> A La-Z-Boynál különös figyelmet fordítanak arra, hogy a komfort fotelek kinyitott állapotban is megtámasszák a derekat.</li>
				</ul>
			</div>
			<div class="clearfix">
				<div class="box third first">
					<div class="ribbon">
						<span class="ribbon-start"></span>
						<p>Carolyn Kinder</p>
						<span class="ribbon-end"></span>
					</div>
					<%= image_tag "designer.png" %>
					<p>Carolyn Kinder több mint két évtizede tervez és alkot innovatív kiegészítő kollekciókat a lakberendezési piac számára. A neve által fémjelzett tárgyak szinonimájává váltak a klasszikus, időtálló tervezésnek. 2000 januárjában, a kiegészítő iparban nyújtott addigi tevékenységének elismeréseként, első nőként megkapta a Művészeti Akadémia Teljesítmény Díját (ART).</p>
				</div>
				<div class="box third mid">
					<div class="ribbon">
						<span class="ribbon-start"></span>
						<p>Grace Feyock</p>
						<span class="ribbon-end"></span>
					</div>
					<%= image_tag "designer.png" %>
					<p>Grace Feyock több mint három évtizede tervez lakberendezési tárgyakat. Karrierjét akvarellfestő képzőművészként kezdte és gyorsan egyedi, felismerhető stílust teremtett. Akvarellfestői tapasztalatait és művészeti érzékét felhasználva 1982-ben keretezett művészeti alkotásokat készítő üzletet indított, amely meghozta számára a sikert.</p>
				</div>
				<div class="box third last">
					<div class="ribbon">
						<span class="ribbon-start"></span>
						<p>Billy Moon</p>
						<span class="ribbon-end"></span>
					</div>
					<%= image_tag "designer.png" %>
					<p>Billy Moon, az amerikai lakberendezési iparág ikonja, több mint húsz éve tervez különleges tárgyakat. Billy először a Hold kollekciónak elnevezett, agyag és fém kiegészítőkből álló termékcsalád bemutatásával szerzett nevet magának. Új termékbevezetése után Billy megnyitotta saját gyárát Mexikóban. Az 1990-es évek elején három egymást követő évben is megkapta az ARTS díjat.</p>
				</div>
			</div>
			<div class="box full">
				<h3>További márkáink</h3>
			</div>
