<h1>Listing advantages</h1>

<table>
  <tr>
    <th>Advantage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @advantages.each do |advantage| %>
  <tr>
    <td><%= advantage.advantage %></td>
    <td><%= link_to 'Show', advantage %></td>
    <td><%= link_to 'Edit', edit_advantage_path(advantage) %></td>
    <td><%= link_to 'Destroy', advantage, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Advantage', new_advantage_path %>
