<%= form_for(@properties_to_product) do |f| %>
  <% if @properties_to_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@properties_to_product.errors.count, "error") %> prohibited this properties_to_product from being saved:</h2>

      <ul>
      <% @properties_to_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %><br />
    <%= f.number_field :property_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
