<h1>Listing properties_to_custom_categories</h1>

<table>
  <tr>
    <th>Custom category</th>
    <th>Property</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties_to_custom_categories.each do |properties_to_custom_category| %>
  <tr>
    <td><%= properties_to_custom_category.custom_category_id %></td>
    <td><%= properties_to_custom_category.property_id %></td>
    <td><%= link_to 'Show', properties_to_custom_category %></td>
    <td><%= link_to 'Edit', edit_properties_to_custom_category_path(properties_to_custom_category) %></td>
    <td><%= link_to 'Destroy', properties_to_custom_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Properties to custom category', new_properties_to_custom_category_path %>
