~<%= form_for "payment", :url => "checkout/payment" do |f| %>
<div class="block">
	<h5>Kapcsolattartási információk</h5>
		<fieldset>
			<div class="half">
				<%= f.label :title_name, "Titulus" %>
  			<%= f.text_field :title_name, :value => current_user.title_name, :size => 5 %>
			</div>
			<div class="half">
				<%= f.label :last_name, "Vezetéknév" %>
  			<%= f.text_field :last_name, :value => current_user.last_name %>
			</div>
			<div class="half">
				<%= f.label :first_name, "Keresztnév" %>
  			<%= f.text_field :first_name, :value => current_user.first_name %>
			</div>
		</fieldset>
		<fieldset>
			<%= f.label :email, "E-mail cím" %>
			<%= f.email_field :email, :value => current_user.email %>
		</fieldset>
		<fieldset>
			<%= f.label :phone, "Telefonszám" %>
			<%= f.phone_field :phone, :value => current_user.phone %>
		</fieldset>
</div>
<div class="block">
	<h5>Szállítási információk</h5>
	<fieldset>
		<% f.label :shipping_name, "Szállítási név" do %>
		<%= 'Cég név <small>(nem kötelező)</small>'.html_safe %>
		<% end %>
		<%= f.text_field :shipping_name, :value => @shipping_address.name %>
	</fieldset>
	<fieldset>
		<div class="half">
			<%= f.label :shipping_zip, "Irányítószám" %>
			<%= f.text_field :shipping_zip, :value => @shipping_address.zip, :size => 4 %>
		</div>
		<div class="half">
			<%= f.label :shipping_city, "Város" %>
			<%= f.text_field :shipping_city, :value => @shipping_address.city %>
		</div>
	</fieldset>
	<fieldset>
		<%= f.label :shipping_additional, "Cím" %>
		<%= f.text_field :shipping_additional, :value => @shipping_address.additional %>
	</fieldset>
	</div>
	<div class="block">
		<h5>Számlázási információk</h5>
		<fieldset>
			<%= f.label "same", "Same as delivery" %>
			<%= f.check_box "same" %>
		</fieldset>
		<fieldset>
			<% f.label :billing_name do %>
				<%= 'Cég név <small>(nem kötelező)</small>'.html_safe %>
			<% end %>
			<%= f.text_field :billing_name, :value => @billing_address.name %>
		</fieldset>
		<fieldset>
			<div class="half">
				<%= f.label :billing_zip, "irányítószám" %>
				<%= f.text_field :billing_zip, :value => @billing_address.zip, :size => 4 %>
			</div>
			<div class="half">
				<%= f.label :billing_city, "Város" %>
				<%= f.text_field :billing_city, :value => @billing_address.city %>
			</div>
		</fieldset>
		<fieldset>
			<%= f.label :billing_additional, "Cím" %>
			<%= f.text_field :billing_additional, :value => @billing_address.additional %>
		</fieldset>
	</div>
	<div class="block">
		<%= f.submit "Tovább" %>
		<%= link_to "vissza az előző lépéshez", "#", :class => "step-back" %>
	</div>
<% end %>