<section id="account" class="box full clearfix">
	<h3 id="top">Felhasználói fiókom <span class="username"><%= current_user.email %></span></h3>
	<div class="clearfix">
		<div id="loyalty">
			<p>Önnek eddig a</p>
			<h4>Törzsvásárlói programban</h4>
			<p id="loyalty-sum"><%= number_to_currency(current_user.personal_discount_available, :precision => 0, :format => "%n %u") %>-ja</p>
			<p>gyűlt össze, melyet bármikor beválthat tetszőleges vásárlásra a <a href="/cart">kosár oldalon</a> található gomb segítségével.</p>
		</div>
		<div id="edit-data">
			<h4>Adatmódosítás</h4>
			<p>Alapértelmezett szállítási címe: <%= @default_address.zip %>, <%= @default_address.city %>, <%= @default_address.additional %></p>
			<p>Alapértelmezett fizetési módja: Banki átutalás</p>
			<p>A számlát: <%= @accounting_name %> nevére állítjuk ki</p>
			<a href="#" class="button blue">Adatmódosítás</a>
		</div>
	</div>
	<div class="table-wrap">
		<h4>Rendeléseim</h4>
		<table id="orders-table" class="user-table">
			<thead>
				<tr>
					<th>Rendelési kód</th>
					<th>Állapot</th>
					<th>Rendelés Dátuma</th>
					<th>Becsült érkezés</th>
					<th>Végösszeg</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5">&nbsp;</td>
				</tr>
			</tfoot>
			<tbody>
				<% @orders.each do |order| %>
					<tr>
						<td><a class="fancybox ajax" href="/megrendeleseim/<%= order.id %>">xyz-<%= order.id %></a></td>
						<td><span class="status delivered"><%= order.status %></span></td>
						<td><%= order.created_at %></td>
						<td><%= order.estimated_date %></td>
						<td><%= order.order_sum %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="table-wrap">
		<h4>Ajándéklistám</h4>
		<table id="whishlist-table" class="user-table">
			<thead>
				<tr>
					<th>Termék</th>
					<th>Állapot</th>
					<th>Ára</th>
					<th>Műveletek</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">&nbsp;</td>
				</tr>
			</tfoot>
			<tbody>
				<% @wishlist_items.each do |item| %>
					<tr id="<%= item.id %>">
						<td><a rel="group" class="fancybox ajax" href="/products/quicklook/<%= item.product.id %>"><%= item.product.name.titleize %></a></td>
						<td><span class="status delivered"><%= item.sold ? 'Megvéve' : 'Még nem vették meg' %></span></td>
						<td><%= number_to_currency(item.product.price, :precision => 0) %></td>
						<td><a data-product="<%= item.id %>" class="remove-from-wishlist" href="#">törlés</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

</section>