<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="block">
  	<h5>Jelszó megváltoztatása</h5>

	  <%= f.hidden_field :reset_password_token %>

	  <fieldset><%= f.label :password, "Új jelszó" %>
	  <%= f.password_field :password %></fieldset>

	  <fieldset><%= f.label :password_confirmation, "Új jelszó megerősítése" %>
	  <%= f.password_field :password_confirmation %></fieldset>
	</div>

  <div class="block"><%= f.submit "Change my password" %></div>
<% end %>