<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="block">
	  <h5>Elfelejtette a jelszavát?</h5>

	  <fieldset><%= f.label :email %>
	  <%= f.email_field :email %></fieldset>

  </div>
  <div class="block">
  	<fieldset><%= f.submit "Jelszó visszaállítása" %></fieldset>
  </div>
<% end %>