<% if @category.custom_categories.any? %>
	<ul>
		<% sub_categories = @category.custom_categories.order("custom_category_group_id DESC")  %>
		<% current = "" %>
		<% sub_categories.each_with_index do |sub_cat,i| %>
			<% unless current == sub_cat.custom_category_group_id %>
				<%= '</ul>'.html_safe if i > 0 %>
				<% if sub_cat.custom_category_group_id.nil? %>
					<h3>Nincs nevem</h3>
					<ul>
				<% else %>
					<h3><%= sub_cat.custom_category_group.name %></h3>
					<ul>
				<% end %>							
			<% end %>
			<% current = sub_cat.custom_category_group_id %>
			<li>
				<%= link_to_if(session[:view_all], sub_cat.name, custom_category_url(@category, sub_cat, :page => 'all')) do %>
					<%=	link_to(sub_cat.name, custom_category_url(@category, sub_cat)) %>
				<% end %>
			</li>
			<%= '</ul>'.html_safe if i == (sub_categories.count - 1) %>
		<% end %>
	</ul>
	<ul>
		<h3>Ajánljuk</h3>
			<ul>
					<li>
						<%= link_to "Új termékek", flatten_param_hash(params.merge(params.merge(:recommend => "new"))) %>
					</li>

					<li>
						<%= link_to "Akciós termékek", flatten_param_hash(params.merge(params.merge(:recommend => "sale"))) %>
					</li>
					<li>
						<%= link_to "Összes termék", "/" + @category.slug + "/osszes" %>
					</li>
			</ul>
	</ul>
<% end %>