<% Category.all.each_with_index do |category, index| %>
	<li<%= is_active_category_with_index?(category.slug, index) %>>
		<%= link_to category.name, category_url(:locale => (I18n.locale unless I18n.locale == I18n.default_locale), :id => category.slug) %>
		<% if category.custom_categories.any? %>
			<ul class="sub <%= 'right ' if index > (Category.count - 2) %>clearfix">
				<div class="col1">
					<% sub_categories = category.custom_categories.order("custom_category_group_id DESC")  %>
					<% current = "" %>
					<% product_per_column = (sub_categories.count+3) / 2 if !sub_categories.blank? %>
					<% sub_categories.each_with_index do |sub_cat,i| %>
						<% unless current == sub_cat.custom_category_group_id %>
							<% if sub_cat.custom_category_group_id.nil? %>
								<h5>Nincs nevem</h5>
							<% else %>
								<h5><%= sub_cat.custom_category_group.name %></h5>
							<% end %>
						<% end %>
						<% current = sub_cat.custom_category_group_id %>
						<li>
							<%= link_to_if(session[:view_all], sub_cat.name, custom_category_url(category, sub_cat, :page => 'all')) do %>
								<%=	link_to(sub_cat.name, custom_category_url(category, sub_cat)) %>
							<% end %>
						</li>
						<% if i == product_per_column || i == product_per_column * 2 %>
							</div>
							<div class="col1">
						<% end %>
					<% end %>
				</div>
				<div class="col1 fix">
					<h5>Ajánljuk</h5>
					<li>
						<%= link_to "Új termékek", "/" + category.slug + "/osszes?recommend=new" %>
					</li>
					<li>
						<%= link_to "Akciós termékek", "/" + category.slug + "/osszes?recommend=sale" %>
					</li>
					<li>
						<%= link_to "Összes termék", "/" + category.slug + "/osszes" %>
					</li>
				</div>
			</ul>
		<% end %>
	</li>
<% end %>
<li>
	<a href="/rolunk"><%= t('aboutus') %></a>
	<!-- <ul class="sub right">
		<div class="column">
		<% Content.all.each do |content| %>
			<div class="block">
				<h5><%= content.name %></h5>
				<% if content.subcontents.any? %>
					<% content.subcontents.each do |subcontent| %>
							<li><%= link_to subcontent.name, "/" + subcontent.slug %></li>
					<% end %>
				<% end %>
			</div>
		<% end %>
		</div>
	</ul> -->
</li>
<li class="last">
	<a href="http://www.blog.flairspring.hu/">Magazin</a>
</li>	
