<!-- <fieldset>
	<legend>kedvezmények</legend>
	<div class="field"><label for="">Ingyenes szállítás</label><input type="checkbox" name="kedv" id="" /></div>
	<div class="field"><label for="">Ajándék jár hozzá</label><input type="checkbox" name="kedv" id="" /></div>
</fieldset> -->

<%= field_set_tag t('designer') do %>
	<% @designers.each do |designer| %>
		<div class="field">
			<label for="<%= designer.name.parameterize %>"> <%= designer.name %> </label>
			<%= check_box_tag 'designer[]', designer.id, ((!params[:designer] || params[:designer].include?(designer.id.to_s) ? true : false)) %>
		</div>
	<% end %>
		<% if @designers.any? %>
			<div class="field">
				<label for="nil"> Nincs designer </label>
				<%= check_box_tag 'designer[]', "NULL", true %>
			</div>
		<% end %>
	<%= submit_tag "frissítés", :class => "update" %>
<% end %>

<% @property_categories.each do |property_category| %>
	<%= field_set_tag property_category[:name].to_s do %>
		<% if property_category[:numeric] %>
	<!-- Csúszka helye -->
			<!-- mértékegységek nem lehetnek törtek, a low és a high value nem jó mindenhol -->
			<input id="<%= property_category[:id].to_s.parameterize %>" type="slider" data-unit="<%= property_category[:unit] %>" data-from="<%= property_category[:from] %>" data-to="<%= property_category[:to] %>" name="<%= property_category[:id].to_s.parameterize %>" value="<%=property_category[:low]%>;<%=property_category[:high]%>" />
<!-- Csúszka helye  -->
		<% else %>
			<% Property.where(:property_category_id => property_category[:id]).each do |property| %>
				<div class="field">
					<%  %>
					<label for="<%= property.property_category.id.to_s %>"> <%= property.property_name %> </label>
					<%= check_box_tag property.property_category.id.to_s + "[]", property.id, property_disabled?(property,params,@fix_properties), :disabled => (@fix_properties.keys.include?(property.property_category.id) ? true : false) %>
				</div>
			<% end %>
		<% end %>
		<%= submit_tag "frissítés", :class => "update" %>
	<% end %>
<% end %>
