<%= link_to  "/cart", :class => "minicart" + (" empty" if cart_count.nil? || cart_count == 0 ).to_s do %>
	<%= t('.cart_link') + ("(" + cart_count.to_s + ")" if !cart_count.nil?).to_s %>
	<% if Cart.exists?(session[:cart_id]) %>
	<% cart = Cart.find(session[:cart_id]) %>
		<% if cart.line_items.any? %>
			<% product_sets = [] %>
			<div id="minicart">
				<table id="minicart-table">
					<tbody>
						<% cart.line_items.each do |item| %>
							<% unless product_sets.include?(item.product_set_id) %>
								<tr>
									<td>
										<%= (image_tag item.product.default_photo.image_file.thumb, :title => item.product.default_photo.alt, :class => "class") if !item.product.default_photo.nil? %>
									</td>
									<td>
										<% if item.product_set_id.nil? %>
											<% if item.product_variation_id.nil? %>
												<%= item.product.name.titleize %>
											<% else %>
												<%= ProductVariation.find(item.product_variation_id).name.titleize %>
											<% end %>
										<% else %>
											<%= ProductSet.find(item.product_set_id).description %>
										<% end %>
									</td>
									<td class="quantity-cell">
										<span><%= item.quantity %></span> db
									</td>
									<td class="price-cell">
										<% if item.product_set_id.nil? %>
											<% if item.product_variation_id.nil? %>
												<span><%= item.product.price %></span> Ft
											<% else %>
												<span><%= ProductVariation.find(item.product_variation_id).price %></span> Ft
											<% end %>
										<% else %>
											<span><%= ProductSet.find(item.product_set_id).price %></span> Ft
										<% end %>
									</td>
								</tr>
								<% product_sets << item.product_set_id unless item.product_set_id.nil? %>
							<% end %>
						<% end %>
					</tbody>
					<tfoot>
						<tr class="total">
							<td colspan="4">Összesen* <span class="total-price"><%= cart.total %></span> Ft</td>
						</tr>
						<tr>
							<td colspan="4">
								<small>*Szállítási díj nélkül</small><%= link_to t('.cart_link'), "/cart", :class => "button" %>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		<% end %>
	<% end %>
<% end %>
