<nav id="misc-menu">
	<ul class="main-ul">
		<li>
			<!-- <ul id="language-selector">
				<% LANGUAGES.each do |lang| %>
					<% if lang[1] == I18n.locale.to_s %>
						<li class="active <%= lang[1] %>"><%= link_to lang[0], url_for( params.merge(:locale => lang[1]) ) %></li>
					<% else %>
						<li class="<%= lang[1] %>"><%= link_to lang[0], url_for( :locale => lang[1] ) %></li>
					 <% end %>
				<% end %>
			</ul> -->
		</li>
		<li><%= link_to t('wishlist'),"/wishlist" %></li>
		<li id="blog-link"><%= link_to "Magazin", "http://blog.flairspring.hu" %></li>
		<% unless user_signed_in? %>
			<li><%= link_to t('register'), new_user_registration_path %></li>
		<% end %>
		<% if !user_signed_in? %>
			<li><%= link_to t('login'), new_user_session_path %></li>
		<% else %>
			<% name = ((current_user.first_name.blank? || current_user.last_name.blank?) ? current_user.email : current_user.title_name.to_s + " " + current_user.last_name.to_s + " " + current_user.first_name.to_s ) %>
			<li><%= link_to ('Kijelentkezés - <em id="login-name">' + name + "</em>").html_safe, destroy_user_session_path, :method => :delete %></li>
		<% end %>		
	</ul>
</nav>