<section class="full slider clearfix" id="<%= id %>">
<h3><%= title %> <a href="#" class="arrow right"></a><a href="#" class="arrow left"></a></h3>  
	  <div class="slider-inner">
		<ul class="carousel">
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
			<li >
				<a href="#">
					<%= image_tag "matthew.png", :title => "title", :class => "class" %>
					<p class="name">Okalami</p>
					<p class="price"><span class="current-price">110 000 Ft</span> <span class="old-price">140 00 Ft</span></p>
				</a>
			</li>
		</ul>
	</div>
</section>