	<section id="slider">
		<div class="" id="bolt">
			<h5>Megnyitottunk!</h5>
			<p>Látogassa meg boltunkat a <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a> címen!</p>
		</div>
		<div class="slides">
			<div class="slide" id="slide-1">

				<a rel="group1" href="/products/quicklook/8522" id="slide-1-plus-1" class="plus fancybox ajax" href="">+</a>
				<a rel="group1" href="/products/quicklook/8773" id="slide-1-plus-2" class="plus fancybox ajax" href="">+</a>	
				<a rel="group1" href="/products/quicklook/9621" id="slide-1-plus-3" class="plus fancybox ajax" href="">+</a>
				<a rel="group1" href="/products/quicklook/8724" id="slide-1-plus-4" class="plus fancybox ajax" href="">+</a>
				<a rel="group1" href="/products/quicklook/9060" id="slide-1-plus-5" class="plus fancybox ajax" href="">+</a>	
				<a rel="group1" href="/products/quicklook/9338" id="slide-1-plus-6" class="plus fancybox ajax" href="">+</a>
				<a rel="group1" href="/products/quicklook/9090" id="slide-1-plus-7" class="plus fancybox ajax" href="">+</a>
				<a rel="group1" href="/products/quicklook/9203" id="slide-1-plus-8" class="plus fancybox ajax" href="">+</a>	
				<a rel="group1" href="/products/quicklook/8605" id="slide-1-plus-9" class="plus fancybox ajax" href="">+</a>
				<a rel="group1" href="/products/quicklook/8784" id="slide-1-plus-10" class="plus fancybox ajax" href="">+</a>
				<div class="" id="bolt">
					<h5>Megnyitottunk!</h5>
					<p>Látogassa meg boltunkat a <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a> címen!</p>
				</div>
			</div>
			<div class="slide" id="slide-2">
				<a rel="group2" href="/products/quicklook/9203" id="slide-2-plus-1" class="plus fancybox ajax" href="">+</a>
				<a rel="group2" href="/products/quicklook/8605" id="slide-2-plus-2" class="plus fancybox ajax" href="">+</a>	
				<a rel="group2" href="/products/quicklook/8522" id="slide-2-plus-3" class="plus fancybox ajax" href="">+</a>
				<a rel="group2" href="/products/quicklook/9185" id="slide-2-plus-4" class="plus fancybox ajax" href="">+</a>
				<a rel="group2" href="/products/quicklook/8065" id="slide-2-plus-5" class="plus fancybox ajax" href="">+</a>	
				<a rel="group2" href="/products/quicklook/9056" id="slide-2-plus-6" class="plus fancybox ajax" href="">+</a>
				<a rel="group2" href="/products/quicklook/9275" id="slide-2-plus-7" class="plus fancybox ajax" href="">+</a>
				<a rel="group2" href="/products/quicklook/9101" id="slide-2-plus-8" class="plus fancybox ajax" href="">+</a>	
				<a rel="group2" href="/products/quicklook/8790" id="slide-2-plus-9" class="plus fancybox ajax" href="">+</a>
				<a rel="group2" href="/products/quicklook/10239" id="slide-2-plus-10" class="plus fancybox ajax" href="">+</a>
				<div class="" id="bolt">
					<h5>Megnyitottunk!</h5>
					<p>Látogassa meg boltunkat a <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a> címen!</p>
				</div>
			</div>
			<div class="slide video" id="slide-3">
				<video id="example_video_1" class="video-js vjs-default-skin" controls width="980" height="415" poster="http://video-js.zencoder.com/oceans-clip.jpg" preload="auto" data-setup="{}">
		  			<source type="video/mp4" src="http://video-js.zencoder.com/oceans-clip.mp4">
		  			<source type="video/webm" src="http://video-js.zencoder.com/oceans-clip.webm">
		  			<source type="video/ogg" src="http://video-js.zencoder.com/oceans-clip.ogg">
				</video>
			</div>
			<div class="slide video" id="slide-4">
				<video id="example_video_2" class="video-js vjs-default-skin" controls width="980" height="415" poster="http://video-js.zencoder.com/oceans-clip.jpg" preload="auto" data-setup="{}">
		  			<source type="video/mp4" src="http://video-js.zencoder.com/oceans-clip.mp4">
		  			<source type="video/webm" src="http://video-js.zencoder.com/oceans-clip.webm">
		  			<source type="video/ogg" src="http://video-js.zencoder.com/oceans-clip.ogg">
				</video>
			</div>
			<div class="slide" id="slide-5">
				<%= image_tag 'slider_images/lbc.png' %>
				<div class="" id="bolt">
					<h5>Megnyitottunk!</h5>
					<p>Látogassa meg boltunkat a <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a> címen!</p>
				</div>
			</div>
			<div class="slide" id="slide-6">
				<%= image_tag 'slider_images/lbc.png' %>
				<div class="" id="bolt">
					<h5>Megnyitottunk!</h5>
					<p>Látogassa meg boltunkat a <a href="http://g.co/maps/eubnb">1054 Budapest, Szabadság tér 14</a> címen!</p>
				</div>
			</div>
		</div>
	</section>
<div id="slider-thumbs">
	<ul class="clearfix">
		<li id="slide-1-thumb" class="active"><a href="#slide-1"><%= image_tag "slider_images/uttermost_1_thumb.jpg", :title => "uttermost" %><h5>Uttermost</h5></a></li>
		<li id="slide-2-thumb"><a href="#slide-2"><%= image_tag "slider_images/uttermost_2_thumb.jpg", :title => "uttermost" %><h5>Uttermost</h5></a></li>
		<li id="slide-3-thumb"><a href="#slide-3"><%= image_tag "slider_images/uttermost_2_thumb.jpg", :title => "title", :class => "class" %><h5>&#9654;</h5></a></li>
		<li id="slide-4-thumb"><a href="#slide-4"><%= image_tag "slider_images/open_thumb.jpg", :title => "megnyitottunk" %><h5>Üzletünk</h5></a></li>
		<li id="slide-5-thumb"><a href="#slide-5"><%= image_tag "slider_images/laz1_thumb.jpg", :title => "lazboy" %><h5>Lazboy</h5></a></li>
		<li id="slide-6-thumb"><a href="#slide-6"><%= image_tag "slider_images/laz2_thumb.jpg", :title => "lazboy" %><h5>Lazboy</h5></a></li>
	</ul>
</div>