<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @designer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @designer.description %>
</p>

<p>
  <b>Image:</b>
  <%= @designer.image %>
</p>


<%= link_to 'Edit', edit_designer_path(@designer) %> |
<%= link_to 'Back', designers_path %>
