<table class="order-table" width=100%>
		<thead>
			<tr>
				<th colspan="2">Összesítő</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<!-- Ennek változnia kell ha pickup-ol és nem kiszállítatt -->
				<td colspan="2">Az Ön rendelésösszeítő példánya hamarosan megérkezik a megadott e-mail címre: <span class="email"><%= @order.email %></span>. A szállítással kapcsolatos tudnivalókról e-mailben értesítjük.</td>
			</tr>
		</tfoot>
		<tbody>
			<tr class="info">
				<td>Rendelés sorszáma</td>
				<td class="right">FLRSPRNG-2012-<%= @order.id %></td>
			</tr>
			<!-- <tr class="info">
				<td>Tracking code</td>
				<td class="right">gasjid-123-esd</td>
			</tr> -->
			<!-- <tr class="info">
				<td>Szállítás ilyenek</td>
				<td class="right">Kellenek</td>
			</tr> -->
			<tr class="info last">
				<td>Várható érkezés</td>
				<td class="right"><%= @order.estimated_date %></td>
			</tr>
			<% product_sets = [] %>
			<% @order.order_items.each do |item| %>
				<tr>
					<% unless product_sets.include?(item.product_set_id) %>
						<% if item.product_set_id.nil? %>
							<% if item.product_variation_id.nil? %>
								<td><%= item.quantity %> db <%= item.product.name.titleize %></td>
								<td class="right"><%= number_to_currency(item.price, :precision => 0) %></td>
							<% else %>
								<td><%= item.quantity %> db <%= ProductVariation.find(item.product_variation_id).name.titleize %></td>
								<td class="right"><%= number_to_currency(ProductVariation.find(item.product_variation_id).price, :precision => 0) %>
							<% end %>
						<% else %>
							<td><%= item.quantity %> db <%= ProductSet.find(item.product_set_id).description.titleize %></td>
							<td class="right"><%= number_to_currency(ProductSet.find(item.product_set_id).price, :precision => 0) %></td>
							<% product_sets << item.product_set_id unless item.product_set_id.nil? %>
						<% end %>
					<% end %>
				</tr>
			<% end %>
			<!-- <tr>
				<td>
					Ajándék csomagolás
				</td>
				<td class="right">Ingyenes</td>
			</tr> -->
			<tr>
				<td>
					Szállítás
				</td>
				<td class="right">
					Ingyenes
				</td>
			</tr>
			<% if @order.discount_used > 0 %>
				<tr>
					<td>
						Törzsvásárlói kedvezmény
					</td>
					<td class="right">
						<%= number_to_currency(@order.discount_used, :precision => 0) %>
					</td>
				</tr>
			<% end %>
			<% unless @order.coupon.blank? %>
				<tr>
					<td>
						Kupon-kedvezmény
					</td>
					<td class="right">
						<%= number_to_currency(@order.order_sum.to_i - @order.price.to_i, :precision => 0) %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td><strong>Végösszeg</strong></td>
				<td class="right"><strong><%= number_to_currency(@order.price - @order.discount_used, :precision => 0) %></strong></td>
			</tr>
		</tbody>
	</table>
