<h1>Listing links_products</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @links_products.each do |links_product| %>
  <tr>
    <td><%= links_product.link_id %></td>
    <td><%= links_product.product_id %></td>
    <td><%= link_to 'Show', links_product %></td>
    <td><%= link_to 'Edit', edit_links_product_path(links_product) %></td>
    <td><%= link_to 'Destroy', links_product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Links product', new_links_product_path %>
