<h1>Listing discounts</h1>

<table>
  <tr>
    <th>Discounttype</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discounts.each do |discount| %>
  <tr>
    <td><%= discount.discountType %></td>
    <td><%= discount.value %></td>
    <td><%= link_to 'Show', discount %></td>
    <td><%= link_to 'Edit', edit_discount_path(discount) %></td>
    <td><%= link_to 'Destroy', discount, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discount', new_discount_path %>
