<p id="notice"><%= notice %></p>

<p>
  <b>Discounttype:</b>
  <%= @discount.discountType %>
</p>

<p>
  <b>Value:</b>
  <%= @discount.value %>
</p>


<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
