<section id="about-wrap" class="box full">
	<div id="head">
		<h3>A Flairspring csapata</h3>
	</div>

	<h4 class="red">Böngésszen kedvére, tekintse meg széles termékválasztékunkat!</h4>
	<p> <span class="lead">A Flairspringnél</span> azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni vásárlóinknak, ezért olyan amerikai világmárkák termékeit válogattuk össze, amelyek hosszú évtizedek óta meghatározó szereplői a lakberendezési piacnak és sikerüket termékeik minőségének, különleges funkcióinak és reális árainak köszönhetik.</p>
	
	<h4 class="green">Milyen termékeket talál boltunkban?</h3>
	<p>
		<ul class="catalog">
		<li>különleges funkciókkal bíró <strong>komfort foteleket</strong></li>
		<li>hagyományos, komfort funkciós, ággyá alakítható, moziszobába való <strong>ülőgarnitúrákat</strong></li>
		<li>több, mint <strong>400 keretezett tükröt</strong></li>
		<li>több, mint <strong>900 lámpát</strong></li>
		<li>több, mint <strong>1500 kisbútort és lakberendezési kiegészítőt</strong></li>
	</ul>
	</p>

	<p class="marg">Természetesen tudjuk, hogy ekkora termékkínálatból nehéz kiválasztani azt, ami Önnek minden szempontból a legjobb. Ha <i>segítségre van szüksége</i>, látogasson el <a target="_blank" href="http://g.co/maps/eubnb">boltunkba</a> és kérje bátran szakképzett lakberendező kollégáink segítségét, akik szívesen válaszolnak kérdéseire vagy kiválasztanak Önnek stílusos bútor-, kárpitanyag- és kiegészítőkombinációkat otthonába</p>

	<h4 class="full">Munkatársaink</h4>
	<div class="clearfix">
			<div class="empl first" data-height="705">
				<div class="left">
					<p class="name">Czirják Eszter</p>
					<p class="quote">Cégtulajdonos</p>
					<!-- <p class="title">Kommunikációs igazgató</p> -->
					<%= image_tag "about/eszter.png" %>
				</div>
				<div class="right">
					<p>Tevékenységi kör: Kommunikációs igazgató</p>
					<p>eszter.czirjak@flairspring.hu</p>
					<p>+36 30 375 84 00</p>
					<a href="#" class="more">Tudj meg többet</a>
				</div>
				<div class="about">
					<p>A közgazdaságtudomány nem igazán fogott meg, bár kétségkívül hasznos
						ismeretekkel gazdagodtam az egyetemi évek alatt, mindig úgy éreztem,
						hogy valami hiányzik - kivéve, amikor Párizsban tanultam egy évet :) A
						médiaügynökségnél és a telekom szektorban eltöltött évek után elkezdtem
						lakberendezéssel foglalkozni. Rájöttem, hogy tudok rajzolni és egy-két tervezési
						munka után az is kiderült, hogy beleszerettem a szövetek, tapéták, bútorok,
						lakberendezési kiegészítők színes világába. Amióta a férjemmel megalapítottuk
						a Flairspringet folyton ezek között a tárgyak között lehetek és ez hihetetlenül
						inspiráló.

						A lakberendezés mellett nagyon szeretek gobelinezni, szőnyeget tervezni, festeni,
						bár ezekre a dolgokra az 5 befogadott kutyánk és a két nyúl mellett kevesebb időm
						jut.</p>
				</div>
			</div>
			<div class="empl" data-height="630">
				<div class="left">
					<p class="name">Do Hong Nam</p>
					<p class="quote">Cégtulajdonos</p>
					<p class="title"></p>
					<%= image_tag "about/nam.png" %>
				</div>
				<div class="right">
					<p>Tevékenységi kör: </p><p>Ügyvezető Igazgató</p>
					<p>nam.do.hong@flairspring.hu</p>
					<p>+36 30 375 86 00</p>
					<a href="#" class="more">Tudj meg többet</a>
				</div>
				<div class="about">
					<p>Vietnámból származom és bár sok országban éltem már, érdekes módon
						otthonomnak mindig Magyarországot tekintettem. 6 éves korom óta élek itt kisebb-
						nagyobb megszakításokkal. Az Egyesült Államokban töltöttem 4 évet, ott online
						robogó- és motorboltom volt, így sok kereskedelmi és ügyfélkapcsolati tapasztalatot
						szereztem. Amikor hazajöttem a telekom szektorban kezdtem dolgozni, majd egy
						kicsit később megalapítottuk feleségemmel a Flairspringet.

						Nagyon szeretem Magyarországot, a vietnámi konyhát, a technológiát és az
						állatokat. 5 kutyával élünk együtt, ez sok-sok szeretetet és elhullajtott szőrt jelent. :)</p>
				</div>
			</div>
		</div>
	<div class="clearfix">
		<div class="empl first" data-height="705">
			<div class="left">
				<p class="name">Kerekes Péter</p>
				<p class="quote">Értékesítő</p>
				<!-- <p class="title">Lakberendezés és lakberendezési tanácsadás</p> -->
				<%= image_tag "about/peter.png" %>
			</div>
			<div class="right">
				<p>Tevékenységi kör: Lakberendezés és lakberendezési tanácsadás</p>
				<p>peter.kerekes@flairspring.hu</p>
				<p>+36 30 375 71 00</p>
				<a href="#" class="more">Tudj meg többet</a>
			</div>
			<div class="about">
				<p>Vidéken, Somogy megyében nőttem fel, igaz kisebb megszakításokkal, de már
					10 éve Budapesten élek. Talán a falusi gyermekkor, és a fővárosi lét közötti
					hatalmas különbség segít abban, hogy olyan dolgokra is értékként tekintsek, amit
					mások természetesnek gondolhatnak, vagy elsiklanak felette. Ezért is örülök, hogy
					a Flairspring csapat tagja lehetek, akikkel azt próbáljuk megmutatni, milyen jó
					hatással van a mindennapi érzéseinkre egy megfelelően kialakított élettér.

					Bemutatkozásnak indult ez a szöveg, és mi lett belőle? :) Valóban jellemző rám,
					hogy (néha) messziről indítva, nyakatekert módon jutok el a lényeghez. Szeretem
					a kávét, a kortárs festészetet, az építészet történetet, ki nem állhatom az uborkát,
					és a tejfölös önteteteket, mindemellett egy kihalófélben lévő csoporthoz, a
					hanglemezgyűjtők táborához tartozom.</p>
			</div>
		</div>
		<div class="empl" data-height="585">
			<div class="left">
				<p class="name">Harazin Edina</p>
				<p class="quote">Lakberendező</p>
				<!-- <p class="title">Lakberendezés és lakberendezési tanácsadás</p> -->
				<%= image_tag "about/zini.png" %>
			</div>
			<div class="right">
				<p>Tevékenységi kör: Lakberendezés és lakberendezési tanácsadás</p>
				<p>edina.harazin@flairspring.hu</p>
				<p>+36 30 375 88 00</p>
				<a href="#" class="more">Tudj meg többet</a>
			</div>
			<div class="about">
				<p>1985-ben láttam meg a napvilágot Budapesten. Sok helyen laktam már a
					városban, de Buda rabul ejtette a szívemet.
					A természet közelsége megnyugtat, egyik hivatásomnak ezért választottam a
					Kertészeti Egyetemet. Viszont kiskoromtól fogva szerettem megrajzolni a falra
					felkerülő képeimet. A lakberendezést talán ezért is választottam először hobbinak,
					utána pedig hivatásomnak. Nagyon szeretek sétálni, felfedezni a város elfelejtett
					kincseit. És nagyon szeretem a barátaimat és a Flairspringet.'</p>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="empl first" data-height="725">
			<div class="left">
				<p class="name">Csóka Attila</p>
				<p class="quote">Lakberendező</p>
				<!-- <p class="title">Függönyözés és függöny tervezés,Lakberendezés és lakberendezési tanácsadás</p> -->
				<%= image_tag "about/attila.png" %>
			</div>
			<div class="right">
				<p>Tevékenységi kör: Függönyözés és függöny tervezés,Lakberendezés és lakberendezési tanácsadás</p>
				<p>attila.csoka@flairspring.hu</p>
				<p>+36 30 375 83 00</p>
				<a href="#" class="more">Tudj meg többet</a>
			</div>
			<div class="about">
				<p>1979-ben születtem Gyulán.
					Az egész dizájnosdi családi házunk áttervezésével kezdődött, kölyökként. Nem
					tudtam mire vélni a dolgot, de gondoltam -talán- érdemes ennek az affinitásnak
					figyelmet szentelni. Így is tettem.
					Lakbersuli után Budapestre költöztem, a város rögtön rabjává tett.

					Az építészeti remekművek, a kávézók, a Duna... 10 év után is úgy tekintek
					szépségeire, mintha először látnám azokat.
					Az itt töltött évek során sikerült tapasztalatot szereznem építőipari
					projektvezetésben, lakberendezési tervezésekben, kivitelezésekben is bőven volt
					részem, illetve függönyszalonban tanácsadó-értékesítőként dolgoztam.
					A Flairspring az eddigi legnagyobb feladat. Majd személyesen elmondom, miért. :)
					Másik nagy szerelmem a zene: hallgatom, művelgetem.
					Amúgy meg barátok, buli, Flairspring... :) '</p>
			</div>
		</div>
		<div class="empl" data-height="725">
				<div class="left">
					<p class="name">Darida Ágnes</p>
					<p class="quote">Lakberendező</p>
					<!-- <p class="title">Lakberendezés és lakberendezési tanácsadás</p> -->
					<%= image_tag "about/agnes.png" %>
				</div>
				<div class="right">
					<p>Tevékenységi kör: Lakberendezés és lakberendezési tanácsadás</p>
					<p>agnes.darida@flairspring.hu</p>
					<p>+36 30 375 76 00</p>
					<a href="#" class="more">Tudj meg többet</a>
				</div>
				<div class="about">
					<p>Gyerekkoromtól kezdve szeretem a szép tárgyakat, mindig nagy érdeklődéssel
						fordultam a kreativitás irányába, vonzottak az alkotással kapcsolatos
						tevékenységek. Így aztán tanultam és gyakoroltam virágkötészetet,
						ékszerkészítést, kerámiaformázást aztán rátaláltam a lakberendezésre, melyben

						úgy érzem, egyszerre élhetem ki a szép tárgyak és terek iránt érzett vonzalmamat,
						illetve alkotóvágyam is.

						Szabadidőmben nagyon szeretek utazni, így jártam már a világ majdnem összes
						kontinensén. Van egy kutyám, Rozi, akivel boldogan járunk kirándulni. Lelkes
						hobbifotós vagyok és utazásaim, kirándulásaim során is igyekszem tökéletesíteni
						fotóstudásom.

						Örömmel megyek koncertekre vagy csak csendesebb baráti összejövetelekre.
						Szeretem, ha az életem izgalmas és "színfoltokkal" telített:)</p>
				</div>
		</div>
	</div>
	<div class="clearfix">
		<%= image_tag "about/team.jpg", :style => "margin-bottom:20px;margin-right:20px;float:left;" %>
		<iframe src="http://player.vimeo.com/video/44922950" width="480" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="clearfix">
		<iframe src="http://player.vimeo.com/video/45569900" width="480" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<iframe src="http://player.vimeo.com/video/45696703" width="480" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<div class="clearfix">
		<iframe src="http://player.vimeo.com/video/44924716" width="480" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		<iframe src="http://player.vimeo.com/video/50209799" width="480" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>

	<h4 class="full">Társadalmi szerepvállalás</h4>
	<h4 class="red">Állatvédelem</h4>
	<p class="marg"><span class="lead">A Flairspring</span> egyik legfontosabb célja a magyarországi állatmenhelyek és az elhagyott állatok helyzetének javítása. Ennek első lépéseként Szabadság téri boltjának megnyitóján adományokat gyűjtött a HEROSZ Budapesti Állatotthon lakóinak megsegítésére. A Flairspring a későbbiekben több hasonló felajánlással szeretné támogatni a hasonló szervezeteket.</p>
</section>