<section id="about-wrap" class="box full">
	<div id="head">
		<h3>Rólunk</h3>
	</div>

	<h4 class="red">Böngésszen kedvére, tekintse meg széles termékválasztékunkat!</h4>
	<p> <span class="lead">A Flairspringnél</span> azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni vásárlóinknak, ezért olyan amerikai világmárkák termékeit válogattuk össze, amelyek hosszú évtizedek óta meghatározó szereplői a lakberendezési piacnak és sikerüket termékeik minőségének, különleges funkcióinak és reális árainak köszönhetik.</p>
	
	<h4 class="green">Milyen termékeket talál boltunkban?</h3>
	<p>
		<ul class="catalog">
		<li>különleges funkciókkal bíró <strong>komfort foteleket</strong></li>
		<li>hagyományos, komfort funkciós, ággyá alakítható, moziszobába való <strong>ülőgarnitúrákat</strong></li>
		<li>több, mint <strong>400 keretezett tükröt</strong></li>
		<li>több, mint <strong>900 lámpát</strong></li>
		<li>több, mint <strong>1500 kisbútort és lakberendezési kiegészítőt</strong></li>
	</ul>
	</p>

	<p class="marg">Természetesen tudjuk, hogy ekkora termékkínálatból nehéz kiválasztani azt, ami Önnek minden szempontból a legjobb. Ha <i>segítségre van szüksége</i>, látogasson el <a href="">boltunkba</a> és kérje bátran szakképzett lakberendező kollégáink segítségét, akik szívesen válaszolnak kérdéseire vagy kiválasztanak Önnek stílusos bútor-, kárpitanyag- és kiegészítőkombinációkat otthonába</p>

	<h4 class="full">Munkatársaink</h4>
	
	<div class="clearfix">
		<div class="empl first">
			<div class="left">
				<p class="name">Kis Kálmán</p>
				<p class="quote">Szeretem a parizert...</p>
				<p class="title">Kőműves</p>
				<%= image_tag "http://www.placekitten.com/215/215" %>
			</div>
			<div class="right">
				<p>A Flairspringnél azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni  vásárlóinknak</p>
			</div>
		</div>
		<div class="empl">
			<div class="left">
				<p class="name">Kis Kálmán</p>
				<p class="quote">Szeretem a parizert...</p>
				<p class="title">Kőműves</p>
				<%= image_tag "http://www.placekitten.com/215/215" %>
			</div>
			<div class="right">
				<p>A Flairspringnél azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni  vásárlóinknak</p>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="empl first">
			<div class="left">
				<p class="name">Kis Kálmán</p>
				<p class="quote">Szeretem a parizert...</p>
				<p class="title">Kőműves</p>
				<%= image_tag "http://www.placekitten.com/215/215" %>
			</div>
			<div class="right">
				<p>A Flairspringnél azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni  vásárlóinknak</p>
			</div>
		</div>
		<div class="empl">
			<div class="left">
				<p class="name">Kis Kálmán</p>
				<p class="quote">Szeretem a parizert...</p>
				<p class="title">Kőműves</p>
				<%= image_tag "http://www.placekitten.com/215/215" %>
			</div>
			<div class="right">
				<p>A Flairspringnél azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni  vásárlóinknak</p>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="empl first">
			<div class="left">
				<p class="name">Kis Kálmán</p>
				<p class="quote">Szeretem a parizert...</p>
				<p class="title">Kőműves</p>
				<%= image_tag "http://www.placekitten.com/215/215" %>
			</div>
			<div class="right">
				<p>A Flairspringnél azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni  vásárlóinknak</p>
			</div>
		</div>
		<div class="empl">
			<div class="left">
				<p class="name">Kis Kálmán</p>
				<p class="quote">Szeretem a parizert...</p>
				<p class="title">Kőműves</p>
				<%= image_tag "http://www.placekitten.com/215/215" %>
			</div>
			<div class="right">
				<p>A Flairspringnél azért dolgozunk, hogy ügyfeleink stílusos, meleg otthont tudjanak kialakítani maguknak, bútoraink és lakberendezési tárgyaink segítségével. Szeretnénk értéket adni  vásárlóinknak</p>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<%= image_tag "http://www.placekitten.com/480/300", :style => "margin-bottom:20px;margin-right:20px;float:left;" %>
		<iframe src="http://player.vimeo.com/video/44922950" width="480" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<h4 class="full">Társadalmi szerepvállalás</h4>
	<h4 class="red">Állatvédelem</h4>
	<p class="marg"><span class="lead">A Flairspring</span> egyik legfontosabb célja a magyarországi állatmenhelyek és az elhagyott állatok helyzetének javítása. Ennek első lépéseként Szabadság téri boltjának megnyitóján adományokat gyűjtött a HEROSZ Budapesti Állatotthon lakóinak megsegítésére. A Flairspring a későbbiekben több hasonló felajánlással szeretné támogatni a hasonló szervezeteket.</p>
</section>