<div class="clearfix" id="category-<%= @category.slug %>">
	<%= link_to(category_path(@category) + "/osszes", :class => "chead") do %>
		<!-- <h3><%= @category.ribbon_text %></h3> -->
		<%= image_tag @category.image_file unless @category.image_file.blank? %>
	<% end %>
	<div class="clearfix">
		<section id="sidebar">
			<nav id="category-nav">
				<%= render "home/category_menu_left" %>
			</nav>
		</section>

		<section id="sub-list">
			<% @custom_categories.each do |custom_category| %>
				<div class="sub">
						<%= link_to (category_path(@category) + "/" + custom_category.slug) do %>
							<h3><%= custom_category.name %></h3>
							<%= custom_category.image_file.blank? ? custom_category.name : image_tag(custom_category.image_file) %>
						<% end %>
				</div>
			<% end %>			
			
		</section>
	</div>

	<% if LAZBOY_CATEGORY_IDS.include?(@category.id) %>
		<div id="tab-wrap" class="tab-container">
			<ul class="etabs">
			  <li class="tab" id="tab-1-li" >
			    <a href="#tab-1">Kanapék</a>
			  </li>
			  <li class="tab" id="tab-2-li">
			  	<a href="#tab-2">Komfort</a>
			  </li>
			  <li class="tab" id="tab-3-li">
			    <a href="#tab-3">Dőlés</a>
			  </li>
			  <li class="tab" id="tab-4-li">
			    <a href="#tab-4">Irányítás</a>
			  </li>
			  <li class="tab" id="tab-5-li">
			    <a href="#tab-5">Kihúzható</a>
			  </li>
			  <li class="tab" id="tab-6-li">
			    <a href="#tab-6">Családi</a>
			  </li>
			  <li class="tab" id="tab-7-li">
			    <a href="#tab-7">Kényelem</a>
			  </li>
			  <li class="tab" id="tab-8-li">
			    <a href="#tab-8">Minőség</a>
			  </li>
			  <li class="tab" id="tab-9-li">
			    <a href="#tab-9">Motoros</a>
			  </li>
			</ul>
			<div class="tab-div" id="tab-1">
				<%= image_tag "tabs/2.png" %>
			</div>
			<div class="tab-div" id="tab-2">
				<%= image_tag "tabs/4.png" %>
			</div>
			<div class="tab-div" id="tab-3">
				<%= image_tag "tabs/7.png" %>
			</div>
			<div class="tab-div" id="tab-4">
				<%= image_tag "tabs/8.png" %>
			</div>
			<div class="tab-div" id="tab-5">
				<%= image_tag "tabs/9.png" %>
			</div>
			<div class="tab-div" id="tab-6">
				<%= image_tag "tabs/13.png" %>
			</div>
			<div class="tab-div" id="tab-7">
				<%= image_tag "tabs/lzb1.jpg" %>
			</div>
			<div class="tab-div" id="tab-8">
				<%= image_tag "tabs/lzb5.jpg" %>
			</div>
			<div class="tab-div" id="tab-9">
				<%= image_tag "tabs/lzb11_12.jpg" %>
			</div>
		</div>
	<% else %>
		<div id="tab-wrap" class="tab-container">
			<ul class="etabs">
			  <li id="tab-1-li" class="tab tab5">
			    <a href="#tab-1">Tükrök</a>
			  </li>
			  <li id="tab-2-li" class="tab tab5">
			  	<a href="#tab-2">Műalkotások</a>
			  </li>
			  <li id="tab-3-li" class="tab tab5">
			    <a href="#tab-3">Fali műalkotások</a>
			  </li>
			  <li id="tab-4-li" class="tab tab5">
			    <a href="#tab-4">Kiegészítők</a>
			  </li>
			  <li id="tab-5-li" class="tab tab5">
			    <a href="#tab-5">Lámpák</a>
			  </li>
			</ul>
			<div class="tab-div large-tab" id="tab-1">
				<%= image_tag "tabs/1.jpg" %>
			</div>
			<div class="tab-div large-tab" id="tab-2">
				<%= image_tag "tabs/2.jpg" %>
			</div>
			<div class="tab-div" id="tab-3">
				<%= image_tag "tabs/3.jpg" %>
			</div>
			<div class="tab-div" id="tab-4">
				<%= image_tag "tabs/4.jpg" %>
			</div>
			<div class="tab-div large-tab" id="tab-5">
				<%= image_tag "tabs/5.jpg" %>
			</div>
		</div>
	<% end %>

</div>