<div class="clearfix" id="category-<%= @category.slug %>">
	<%= link_to (category_path(@category) + "/osszes") do %>
		<h3><%= @category.name %></h3>
		<%= image_tag @category.image_file, :class => "chead" unless @category.image_file.blank? %>
	<% end %>
	<div class="clearfix">
		<section id="sidebar">
			<nav id="category-nav">
				<%= render "home/category_menu_left" %>
			</nav>
		</section>

		<section id="sub-list">
			<% @custom_categories.each do |custom_category| %>
				<div class="sub">
						<%= link_to (category_path(@category) + "/" + custom_category.slug) do %>
							<h3><%= custom_category.name %></h3>
							<%= custom_category.image_file.blank? ? custom_category.name : image_tag(custom_category.image_file) %>
						<% end %>
				</div>
			<% end %>			
			
		</section>
	</div>
	<div id="tab-wrap" class="tab-container">
		<ul class="etabs">
		  <li class="tab">
		    <a href="#tab-1">Tab 1</a>
		  </li>
		  <li class="tab">
		  	<a href="#tab-2">Tab 2</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-3">Tab 3</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-4">Tab 4</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-5">Tab 5</a>
		  </li>
		  <li class="tab">
		    <a href="#tab-6">Tab 6</a>
		  </li>
		</ul>
		<div class="tab-div" id="tab-1">1</div>
		<div class="tab-div" id="tab-2">2</div>
		<div class="tab-div" id="tab-3">3</div>
		<div class="tab-div" id="tab-4">4</div>
		<div class="tab-div" id="tab-5">5</div>
		<div class="tab-div" id="tab-6">6</div>
	</div>
</div>