<p id="notice"><%= notice %></p>

<p>
  <b>Custom url:</b>
  <%= @wishlist.custom_url %>
</p>

<p>
  <b>User:</b>
  <%= @wishlist.user_id %>
</p>

<p>
  <b>Public:</b>
  <%= @wishlist.public %>
</p>


<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
