<%= form_for(@property_categories_to_category) do |f| %>
  <% if @property_categories_to_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_categories_to_category.errors.count, "error") %> prohibited this property_categories_to_category from being saved:</h2>

      <ul>
      <% @property_categories_to_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_category_id %><br />
    <%= f.number_field :property_category_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
