<div id="product-modal">
	<div id="product-title">
		<h2><%= @product.name.titleize %>
			<span class="sku">Cikkszám: <%= @product.sku %></span>
		</h2>
	</div>
	<div class="clearfix">
		<% unless @product.blank? %>
			<div class="left">
				<% photo = @product.photos.second || @product.default_photo %>
				<table>
					<tr>
						<td>
							<%= image_tag photo.image_file.medium, :title => photo.alt, :class => "img" unless photo.nil? %>	
						</td>
					</tr>
				</table>
			</div>
			<div class="right">
				<div id="price">
					<% if @product.price != productPrice(@product) %>
						<p class="list-price">Ár: <span> <%= number_to_currency(@product.price, :precision => 0) %></span></p>
						<p class="discount-price">Kedvezményes ár: <span> <%= number_to_currency(productPrice(@product), :precision => 0) %></span></p>
					<% else %>
						<p>Ár: <span> <%= number_to_currency(@product.price, :precision => 0) %></span></p>
					<% end %>
				</div>
				<div id="short-description-box">
					<p>
						<%= lead(@product.long_description).html_safe %>
					</p>
				</div>
				<div id="properties-box">
					<p><label for="">Szállítási idő</label><%= SHIPPING[@product.brand.id] %></p>
					<% if !@designer.nil? %>

						<p><label><%= t('designer') %>: </label><%= @designer.name %></p>
					<% end %>
					<% @size_weight.each do |property| %>
						<p>
							<%= label(:property_category, :id, PropertyCategory.find(property.property_category_id).category_name.capitalize ) %>
							<%= property.property_name.capitalize %>
						</p>
					<% end %>
				</div>
			</div>
			<a class="button" href="<%= product_path(@product) %>"><%= t('show') %></a>
		<% end %>
	</div>
</div>