<div id="product-modal">
	<div class="clearfix">
		<% unless @product.blank? %>
			<div class="left">
				<% photo = @product.photos.second || @product.default_photo %>
				<table>
					<tr>
						<td>
							<%= image_tag photo.image_file.medium, :title => photo.alt, :class => "img" unless photo.nil? %>	
						</td>
					</tr>
				</table>
			</div>
			<div class="right">
				<div id="product-title">
					<h2><%= @product.name.titleize %>
						<span class="sku">Cikkszám: <%= @product.sku %></span>
					</h2>
					<%= image_tag @product.brand.small_image_file, :title => @product.brand.name, :class => "class" %>
				</div>
				<div id="info-box">
					<div class="third" id="price">
						<%= render :partial => "price", :locals => { :product => @product } %>
					</div>
				</div>
				<div class="properties">
					<% unless @product.designer.blank? %>
						<p><span><%= t('designer') %>: </span><%= @product.designer.name %></p>
					<% end %>
					<% unless @product.manufacturer.blank? %>
						<p><span><%= t('manufacturer') %>: </span><%= @product.manufacturer.name %></p>
					<% end %>
					<% @size_weight.each do |property| %>
						<p><span><%= property.property_category.category_name.to_s %>: </span><%= property.property_name %></p>
					<% end %>

				</div>
				<div id="short-description-box">
					<p>
						<%= lead(@product.long_description).html_safe %>
					</p>
				</div>
				<a class="button" href="<%= product_path(@product) %>"><%= t('show') %></a>
			</div>
		<% end %>
	</div>
</div>