<!-- Fenn nem akciós ár hanem szett ár, a név mögé szett -->

<section class="clearfix box full" id="set">
	
	<h3>A szett tartalma</h3>
	
	<div id="set-slider">
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
		<a href="#">
			<img src="<%= @product.default_photo.image_file.thumb.to_s %>" alt="" />
			<p class="name"><%= @product.name %></p>
		</a>
	</div>
	
</section>