<section class="box full">
	<h2>Hamarosan nyitunk</h2>
	<h3>A Flairspring hamarosan megérkezik! </h3>
	<p class="about"><span class="lead">Ha eddig nem tudta</span>  hol keressen igazán kényelmes fotelt vagy kanapét, hol vegyen különlegesen szép tükröket vagy hol talál hatalmas választékot asztali lámpákból és lakberendezési kiegészítőkből, akkor nézzen be hozzánk! A Flairspring weboldala hamarosan elindul, hogy Ön kedvére válogathasson <strong>több ezer bútor és lakberendezési tárgy</strong> közül!</p>
	<p>
		Addig is, amíg elindul a Flairspring weboldala és online boltja, helyezze magát kényelembe és <a href="http://blog.flairspring.hu/">olvassa el blogunkon a híreket, érdekességeket</a> a Flairspring által képviselt bútor-, lakberendezési kiegészítő- és szőnyegmárkákról! Ismerje meg azokat a különleges kényelmi funkciókkal ellátott komfort foteleket, amelyek 84 éve indultak el hódító útjukra és most először kaphatóak Magyarországon!
	</p>
	<div class="hr"></div>
	<div class="clearfix">
		<div id="soon-slider">
			<%= image_tag "comingsoon/photo_1.jpg", :alt => "Uttermost szoba berendezés" %>
			<%= image_tag "comingsoon/photo_2.jpg", :alt => "Dohányzóasztal székkel, lámpával" %>
			<%= image_tag "comingsoon/photo_3.jpg", :alt => "Uttermost szoba berendezés" %>
			<%= image_tag "comingsoon/photo_4.jpg", :alt => "Fekhely és fotel" %>
			<%= image_tag "comingsoon/photo_5.jpg", :alt => "Fotel virággal és lámpával" %>
			<%= image_tag "comingsoon/photo_6.jpg", :alt => "Dohányzóasztal székkel, lámpával" %>
			<%= image_tag "comingsoon/photo_7.jpg", :alt => "Könyvszekrény, lámpa, fekhely" %>
		</div>
		<div id="soon-newsletter">
			<p>Szeretné, ha értesítenénk, amikor az oldal elindul?</p>
			<p>Iratkozzon fel <em>hírlevelünkre</em> és máris Öné a Flairspring online boltban <strong>bármely termék vásárlásakor felhasználható 2000 Ft-os kupon!</strong>*</p>
				<a href="http://eepurl.com/lrR9z" class="button orange">Feliratkozom</a>
		</div>
	</div>
	<p class="small-text"><small>* A kupon kód felhasználásának szabályai és a hírlevéllel kapcsolatos adatvédelmi nyiltakozat megtalálható <a href="/adatvedelem">itt.</a></small></p>
</section>
