<div class="clearfix">
	<section id="sidebar">
			<form action="" method="GET" id="filter-form" class="">								
				<div id="filters" class="box">
					<h3><%= t('.filter') %></h3>
					<%= render 'home/filters' unless @custom_category_empty %>
				</div>
				<nav id="category-nav">
						<%= render 'home/category_menu_left' %>
				</nav>
				
			</form>
	</section>

	<section id="product-list">
		<div id="action-top" class="box">
			<%= render 'home/product_grid_action_buttons' %>

			<% c = "view-all" %>
			<% c = c + " active" if session[:view_all] %>

			<%= link_to t('.view_all'), flatten_param_hash(params.merge(:page => 'all')), :class => c %>
			<%= paginate @kaminari_products, :window => 0, :outer_window => 1 unless @kaminari_products.blank? %>
		</div>
		<div id="product-grid" class="clearfix">
			<%= render 'home/product_grid' %>
			<p><%= "Sajnos nem találtunk terméket a kiválasztott feltételek alapján." if @products.blank? %></p>
		</div>
		<div id="action-bottom" class="box">
			<a id="back-to-top" href="#product-list">&uarr; oldal tetejére</a>
			<%= render 'home/product_grid_action_buttons' %>
			<%= link_to t('.view_all'), flatten_param_hash(params.merge(:page => 'all')), :class => "view-all" %>
			<%= paginate @kaminari_products, :window => 0, :outer_window => 1 unless @kaminari_products.blank? %>
		</div>
	</section>
</div>
<%= render 'home/last_viewed_carousel' if !session[:last_viewed_products].blank? %>
